body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f4f4f4;
}

h1, h2 {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 8px;
    text-align: center;
}
